@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@keyframes animate-stack-logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shines {
  0% {
    transform: rotate(-4deg) translateX(26);
  }
  100% {
    transform: rotate(-4deg) translateX(-26rem);
  }
}
@keyframes animatedSkill {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes optionsSurge {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
}
@keyframes palavrasAnimation {
  0% {
    content: "";
  }
  5% {
    content: "F";
  }
  10% {
    content: "Fu";
  }
  15% {
    content: "Ful";
  }
  20% {
    content: "Full";
  }
  25% {
    content: "Full-";
  }
  30% {
    content: "Full-S";
  }
  35% {
    content: "Full-St";
  }
  40% {
    content: "Full-Sta";
  }
  45% {
    content: "Full-Stac";
  }
  50% {
    content: "Full-Stack";
  }
  55% {
    content: "Full-Stack ";
  }
  60% {
    content: "Full-Stack D";
  }
  65% {
    content: "Full-Stack De";
  }
  70% {
    content: "Full-Stack Dev";
  }
  75% {
    content: "Full-Stack Deve";
  }
  80% {
    content: "Full-Stack Devel";
  }
  85% {
    content: "Full-Stack Develo";
  }
  90% {
    content: "Full-Stack Develop";
  }
  95% {
    content: "Full-Stack Develope";
  }
  100% {
    content: "Full-Stack Developer";
  }
}
@keyframes flutuacaoImagem {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes chicaracRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --color-primary: #0f0f0f;
  --color-secundary: #0b0b0b;
  --color-terciary: #00ffff;
  --color-texts: #9ca3af;
  --white: white;
  --font-primary: "Saira", sans-serif;
  --font-secundary: "Monoton", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  transition: all 0.5s ease;
}

.animate-stack-logo {
  animation: animate-stack-logo ease-in 1s infinite;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 255, 255, 0.3960784314), #00ffff);
  border-radius: 10px;
}

/*** SHINES ***/
.shines {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 6rem;
  height: 400%;
  background-color: transparent;
  transform: rotate(-6deg) translateX(26rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.shines .primary-shine {
  height: 100%;
  width: 90%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.177), rgba(255, 255, 255, 0.282));
  filter: blur(7px);
}
.shines .secundary-shine {
  height: 100%;
  width: 20%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.177), rgba(255, 255, 255, 0.282));
  filter: blur(7px);
}

.group-project-options-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.86);
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  align-items: center;
  justify-content: center;
  display: flex;
}

.close-options {
  background-color: transparent;
  height: max-content;
  border-radius: 50%;
  border: none;
}
.close-options i {
  font-size: 2.5rem;
  color: #00ffff;
  cursor: pointer;
}

.list-options-box-tec {
  display: flex;
  list-style: none;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
  flex-wrap: wrap;
  row-gap: 0.5em;
}

.group-texts-options-box {
  display: flex;
  justify-content: space-between;
}

.close-options {
  color: white;
}

.groupBtn-options-box {
  display: flex;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.groupBtn-options-box a {
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  background-color: #2e2e2e;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.groupBtn-options-box a:hover {
  background-color: #595959;
}

.project-options-box {
  width: 95%;
  max-width: 40em;
  background-color: var(--color-secundary);
  font-family: var(--font-primary);
  color: white;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
  animation: optionsSurge 0.5s ease 0s 1 normal forwards;
}
.project-options-box .stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5em;
}

.project-options-box h1 {
  font-size: 2em;
  color: #00ffff;
  text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.6039215686);
  font-weight: 500;
}

.groupHeader {
  overflow: hidden;
  position: relative;
}
.groupHeader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.groupHeader {
  background-color: var(--color-primary);
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}

.logoNav {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
}

.letraMonoton {
  font-family: var(--font-secundary);
  color: #00a2ff;
}

.groupNav {
  position: fixed;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.9294117647);
  box-shadow: 0px 0px 8px rgb(49, 49, 49);
  z-index: 9999;
  transition: all 0.5s ease;
}

.nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

.listNav {
  display: flex;
  list-style: none;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  align-items: center;
  position: relative;
}

.icon-theme {
  color: rgb(0, 157, 255);
  border-radius: 50%;
}

.icon-idioma {
  border-radius: 50%;
  cursor: pointer;
}

.icon-theme:hover,
.icon-idioma:hover {
  transform: scale(120%);
  filter: drop-shadow(0px 0px 80px rgba(0, 255, 242, 0.603));
  overflow: hidden;
}

.listNav > li > a {
  text-decoration: none;
  padding: 2px;
  font-size: 1.1em;
  transition: color 0.5s ease;
}

.icon-idioma {
  width: 1.26em;
}

.itemsMenu-header {
  position: relative;
}

.itemsMenu-header--dark:hover {
  color: var(--color-terciary);
}

.select-menu-humburguer {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.linha-menu-humburguer {
  background-color: var(--white);
  height: 100%;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.header {
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  column-gap: 2rem;
}

.groupHeader-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  row-gap: 1em;
}

.groupHeader-texts h1 {
  font-size: 3.78em;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -3px;
  font-family: var(--font-primary);
  color: var(--white);
  transition: all 0.5s ease;
}

.title-secundary-header {
  position: relative;
  font-size: 2em;
  height: 50px;
  font-family: var(--font-primary);
  text-shadow: 0px 0px 15px rgba(0, 255, 255, 0.3098039216);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.button-header {
  margin: 1rem 0;
  text-decoration: none;
  font-family: "Roboto Flex", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0;
  border: none;
  background: linear-gradient(90deg, #3dd598 0%, #2fd180 100%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.button-header.dark {
  box-shadow: -7px 7px 0px #ffffff;
  color: #000;
}
.button-header.dark:hover {
  box-shadow: none;
  background: linear-gradient(90deg, #3dd598 0%, #2fd180 100%);
  color: #fff;
  transform: scale(103%);
}

.button-header.light {
  box-shadow: -7px 7px 0px #000000;
  color: #ffffff;
}
.button-header.light:hover {
  box-shadow: none;
  background: linear-gradient(90deg, #3dd598 0%, #2fd180 100%);
  color: #000000;
  transform: scale(103%);
}

.title-secundary-header::before {
  content: "";
  color: rgb(20, 201, 192);
  animation-name: palavrasAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title-secundary-header::after {
  position: absolute;
  content: "";
  height: 65%;
  margin-left: 10px;
  margin-top: 9px;
  border-left: 2px solid rgb(20, 201, 192);
  box-shadow: 0px 0px 10px var(--color-terciary);
  opacity: 1;
  animation: cursor 0.6s infinite;
}

.text2Header {
  font-size: 1em;
  font-family: var(--font-primary);
}

.btnHeader {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ccc;
  width: 11em;
}

.groupHeader-socialMedia {
  width: 10em;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.groupHeader-socialMediaButton {
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.07);
  color: var(--white);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition: all 0.5s ease;
}
.groupHeader-socialMediaButton i {
  font-size: 1.9em;
  pointer-events: none;
  margin-top: 4px;
  transition: all 0.5s ease;
}

.groupHeader-socialMediaButton:hover {
  color: var(--color-terciary);
  transform: scale(120%);
  box-shadow: 0px 0px 10px var(--color-terciary);
}

.groupHeader-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-header {
  color: var(--white);
  font-weight: 200;
  font-size: 1.1rem;
  max-width: 33rem;
}

@keyframes sombrasPiscando {
  0% {
    filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent);
  }
  20% {
    filter: drop-shadow(-33px 7px 0px rgba(51, 218, 173, 0.3098039216)) drop-shadow(-27px 14px 0px rgba(255, 255, 255, 0.4117647059)) drop-shadow(-47px 21px 0px rgba(97, 184, 255, 0.4392156863));
  }
  40% {
    filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent);
  }
  60% {
    filter: drop-shadow(-33px 7px 0px rgba(97, 184, 255, 0.4392156863)) drop-shadow(-27px 14px 0px rgba(255, 255, 255, 0.4117647059)) drop-shadow(-47px 21px 0px rgba(51, 218, 173, 0.3098039216));
  }
  80% {
    filter: drop-shadow(-33px 7px 0px rgba(255, 255, 255, 0.4117647059)) drop-shadow(-27px 14px 0px rgba(51, 218, 173, 0.3098039216)) drop-shadow(-47px 21px 0px rgba(97, 184, 255, 0.4392156863));
  }
  100% {
    filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 0px transparent);
  }
}
.groupHeader-img img {
  width: 86%;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  animation: sombrasPiscando 5s ease-in-out infinite;
  min-width: 36rem;
}

.groupSobre {
  background-color: var(--color-secundary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sobre {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 34em;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.groupSobre-primary {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
}

.titleSobre {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.logoNav {
  font-weight: 500;
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
}

.groupSobre-primary p {
  color: var(--color-texts);
  font-size: 1.28em;
  line-height: 30px;
  width: 100%;
  font-weight: 200;
  transition: all 0.5s ease;
}

.groupSobre-secundary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.minha-img {
  width: 100%;
  filter: drop-shadow(0px 0px 80px rgba(8, 0, 255, 0.603));
  z-index: 1;
}

@keyframes img2 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.minha-img-2 {
  top: 95px;
  position: absolute;
  z-index: 2;
  left: -16px;
  width: 100%;
  max-width: 20rem;
  transform: translateY(0px);
  animation: img2 10s ease-in-out 0s infinite alternate-reverse;
  filter: drop-shadow(0px 0px 30px rgba(8, 0, 255, 0.603));
}

c:Usersjeffr\d ownloads஬kground_light.png .circle {
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-color: rgb(73, 199, 172);
  filter: blur(40px);
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

.dividir-titulo-linha {
  display: flex;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.strong-light {
  color: #3b3b3b;
}

.strong-dark {
  color: #d4d4d4;
}

.groupSkills {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 4em;
  overflow: hidden;
  background-color: var(--color-primary);
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 27em;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.groupSkills-primary {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.titleSkills {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.groupSkills-secundary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.3em;
  -moz-column-gap: 1.3em;
  column-gap: 1.3em;
}

.skill-element {
  background-color: #141414;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out !important;
  overflow: hidden;
}

.textSkills {
  color: var(--color-texts);
  font-size: 1.28em;
  line-height: 30px;
  width: 100%;
  font-weight: 200;
  transition: all 0.5s ease;
}

strong {
  font-weight: 500;
  transition: all 0.5s ease;
}

.groupProjetos {
  background-color: var(--color-secundary);
  min-height: 100vh;
  padding: 2em 0 2em 0;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9em 1fr;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
}

/* No seu arquivo de CSS */
.groupProjetos-categorys__item {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.groupProjetos-categorys__item.active {
  transform: scale(1.1);
  /* Você pode adicionar um brilho para destacar mais */
  filter: brightness(1.2);
}

.groupProjetos-categorys {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}
.groupProjetos-categorys::-webkit-scrollbar {
  display: none;
}
.groupProjetos-categorys__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.groupProjetos-categorys__item .effect {
  transition: all 0.5s ease;
  left: 0;
  bottom: 0;
  right: 0;
  top: 10px;
}
.groupProjetos-categorys__item:nth-child(1) {
  border-color: #00f7ff;
  color: #00f7ff;
}
.groupProjetos-categorys__item:nth-child(1) .effect {
  position: absolute;
  width: 0%;
  height: 0rem;
  filter: blur(10px);
  background-color: rgba(0, 247, 255, 0.4470588235);
}
.groupProjetos-categorys__item:nth-child(1):hover .effect {
  height: 1rem;
  width: 100%;
  background-color: rgba(0, 247, 255, 0.3882352941);
}
.groupProjetos-categorys__item:nth-child(2) {
  border-color: orange;
  color: orange;
}
.groupProjetos-categorys__item:nth-child(2) .effect {
  position: absolute;
  width: 0%;
  height: 0rem;
  filter: blur(10px);
  background-color: rgba(255, 166, 0, 0);
}
.groupProjetos-categorys__item:nth-child(2):hover .effect {
  height: 1rem;
  width: 100%;
  background-color: rgba(255, 166, 0, 0.404);
}
.groupProjetos-categorys__item:nth-child(3) {
  border-color: #ff009d;
  color: #ff009d;
}
.groupProjetos-categorys__item:nth-child(3) .effect {
  position: absolute;
  width: 0%;
  height: 0rem;
  filter: blur(10px);
  background-color: rgba(255, 49, 176, 0);
}
.groupProjetos-categorys__item:nth-child(3):hover .effect {
  height: 1rem;
  width: 100%;
  background-color: rgba(255, 49, 176, 0.3294117647);
}

.groupProjetos-primary {
  display: flex;
  align-items: center;
}

.groupProjetos-primary .titleProjetos {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.select-texts {
  display: flex;
}

.select-linhas-projeto-title {
  display: flex;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.linhas {
  width: 4px;
  background-image: linear-gradient(to top, transparent 20%, #0091ff);
  height: 65px;
  transition: all 0.5s ease;
}

.groupProjetos-secundary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 1.5em;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  justify-content: space-between;
  background-color: #1d1d1d;
  padding: 1em;
  text-align: center;
  border: 1px solid #2e2e2e;
  row-gap: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.group-image-project {
  border-radius: 5px;
  overflow: hidden;
  height: 14em;
  height: 200px;
}

.image-project {
  width: 90%;
}

.title-project {
  color: var(--white);
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.description-project {
  color: #5b5b5b;
  font-size: 1.1em;
  font-weight: 400;
  transition: all 0.5s ease;
}

.btn-project {
  background-color: #1d1d1d;
  border: 2px solid #2e2e2e;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 25px;
  font-weight: 600;
  gap: 0.5em;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

.btn-project:hover {
  background-color: #2e2e2e;
  font-weight: 800;
}

.shines-animed {
  animation: 1.3s shines ease-out 0s 1 normal forwards;
}

.group-image-project {
  overflow: hidden;
  height: 200px;
  width: 100%;
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center center;
  transition: all 0.5s ease;
}
.group-image-project img {
  transition: all 0.5s ease;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.groupService {
  background-color: var(--color-primary);
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
}

.service {
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
}

.groupService-primary {
  display: flex;
  align-items: center;
  gap: 2px;
}

.groupService-secundary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2em;
  column-gap: 2em;
  padding: 2.5em 0;
}

.shinnee {
  position: absolute;
  width: 200%;
  height: 20rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.0705882353), rgba(255, 255, 255, 0));
  transform: rotate(134deg) translateY(-200%);
  transition: all 0.5s ease;
}

.card-service {
  position: relative;
  text-align: center;
  height: 26em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 5px;
  border: 1px solid #1e1d1d;
  padding: 2em;
  transition: border 1s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.card-service:hover {
  border: 1px solid white;
}
.card-service:hover .shinnee {
  transform: rotate(134deg) translateY(-93%);
}
.card-service .circle-externo-servico {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-service .circle-externo-servico-code {
  background-image: linear-gradient(to bottom right, #93f02f, rgb(42.802690583, 77.4170403587, 5.5829596413), #93f02f);
}
.card-service .circle-externo-servico-api {
  background-image: linear-gradient(to bottom right, #ff9d57, rgb(138, 57.5, 0), #ff9d57);
}
.card-service .circle-externo-servico-phone {
  background-image: linear-gradient(to bottom right, #9956f6, rgb(54.6516853933, 6.4719101124, 121.5280898876), #9956f6);
}

.card-service-code:hover {
  border: 1px solid #93f02f;
}

.card-service-phone:hover {
  border: 1px solid #9956f6;
}

.card-service-api:hover {
  border: 1px solid #ff9d57;
}

.circle-interno-servico {
  width: 10em;
  height: 10em;
  background-color: #0f0f0f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.service-card-border-light {
  border: 1px solid #e2e2e2;
}

.service-card-border-dark {
  border: 1px solid #1a1a1a;
}

.service_code {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.service_phone {
  width: 40%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.service_api {
  width: 65%;
  filter: drop-shadow(0px 0px 25px rgba(255, 157, 87, 0.7411764706));
}

.titleService {
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  color: var(--white);
  transition: all 0.5s ease;
}

.title-card-service {
  color: var(--white);
  font-size: 1.3em;
  font-weight: 500;
  transition: all 0.5s ease;
}

.description-card-service {
  color: var(--color-texts);
  font-size: 0.9em;
  transition: all 0.5s ease;
}

.groupContact {
  background-color: var(--color-secundary);
  min-height: 100vh;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 1fr;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 5em 0;
}

.contato .groupContact-primary {
  grid-column: 1/-1;
  display: flex;
  gap: 2px;
}

.groupContact-secundary {
  padding-top: 3em;
}

.titleContact {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.group-input {
  width: 100%;
  position: relative;
}

.error-message {
  color: rgb(255, 75, 75);
  position: absolute;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.form input,
.form button {
  border: 1px solid var(--color-terciary);
  padding: 0.7em 5px;
  background-color: #161616;
  border-radius: 5px;
  font-family: var(--font-primary);
  transition: padding-left 0.2s ease 0s;
  color: var(--white);
  transition: all 0.5s ease;
  width: 100%;
}

.form button {
  cursor: pointer;
}

.form button i {
  color: white;
}

.form input[type=submit] {
  cursor: pointer;
}

.form input:focus {
  padding-left: 1em;
  outline: none;
  box-shadow: 0px 0px 8px var(--color-terciary);
}

textarea {
  height: 10em;
  width: 100%;
  border: 1px solid var(--color-terciary);
  padding: 0.7em 5px;
  background-color: #161616;
  border-radius: 5px;
  font-family: var(--font-primary);
  color: var(--white);
  outline: none;
  transition: all 0.5s ease;
}

textarea:focus {
  box-shadow: 0px 0px 8px var(--color-terciary);
}

.groupContact-terciary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-2 {
  position: absolute;
  width: 15em;
  height: 25em;
  background-color: rgba(0, 140, 255, 0.76);
  filter: blur(40px);
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

.groupContact-terciary img {
  width: 65%;
  clip-path: polygon(0 0, 80% 0%, 100% 20%, 81% 81%, 100% 100%, 20% 100%, 0% 80%, 18% 23%);
  filter: drop-shadow(0px 0px 200px rgba(0, 157, 255, 0.603));
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
  z-index: 0;
}

.footer {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgb(49, 49, 49);
}

.skill-element-border-light {
  border: 1px solid #e4e4e4;
}

.skill-element-border-dark {
  border: 1px solid #242323;
}

.skill-element:hover img {
  transform: scale(120%);
  transition: all 1s ease;
}
.skill-element:hover:nth-child(1) {
  border: 1px solid #93f02f;
}
.skill-element:hover:nth-child(2) {
  border: 1px solid #f29057;
}
.skill-element:hover:nth-child(3) {
  border: 1px solid #9956f6;
}
.skill-element:hover:nth-child(4) {
  border: 1px solid #2ac5e1;
}
.skill-element:hover:nth-child(5) {
  border: 1px solid #ffffff;
}
.skill-element:hover:nth-child(6) {
  border: 1px solid #ff74b6;
}
.skill-element:hover:nth-child(7) {
  border: 1px solid #9956f6;
}
.skill-element:hover:nth-child(8) {
  border: 1px solid #93f02f;
}
.skill-element:hover:nth-child(9) {
  border: 1px solid #ff80bd;
}
.skill-element:hover:nth-child(10) {
  border: 1px solid #f5c022;
}
.skill-element:hover:nth-child(11) {
  border: 1px solid #ff74b6;
}
.skill-element:hover:nth-child(12) {
  border: 1px solid #2ac5e1;
}

.skill-element img {
  width: 40%;
}

.react img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px rgb(0, 255, 242));
}

.express img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #f5c022);
}

.mysql img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #ffd500);
}

.sass img {
  width: 65%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.docker img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #2ac5e1);
}

.postgresql img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.nextjs img {
  filter: drop-shadow(0px 0px 25px #fff);
  width: 63%;
}

.nestjs img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.java img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.git img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.nodejs img {
  width: 55%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.flutter img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.list-options-box-tec li {
  background-color: #141414;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 2px 1rem 2px 0.5rem;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(32.75, 32.75, 32.75);
  text-wrap: nowrap;
}

.react-item-list {
  text-shadow: 0px 0px 21px #0dd9fd;
  color: #00e5ff;
}
.react-item-list img {
  animation: animatedSkill 1s ease 0s infinite normal forwards;
  width: 1.5rem;
  filter: drop-shadow(0px 0px 9px #2ac5e1);
}

.sass-item-list {
  text-shadow: 0px 0px 21px #ff74b6;
  color: #ff74b6;
}
.sass-item-list img {
  width: 1.7rem;
  filter: drop-shadow(0px 0px 10px #ff74b6);
}

.java-item-list {
  text-shadow: 0px 0px 21px #93f02f;
  color: #93f02f;
}
.java-item-list img {
  filter: drop-shadow(0px 0px 10px #93f02f);
  width: 1.2rem;
}

.nest-item-list {
  text-shadow: 0px 0px 14px #9956f6;
  color: #9956f6;
}
.nest-item-list img {
  filter: drop-shadow(0px 0px 10px #9956f6);
  width: 1.5rem;
}

.next-item-list {
  text-shadow: 0px 0px 14px white;
  color: white;
}
.next-item-list img {
  filter: drop-shadow(0px 0px 10px white);
  width: 1.5rem;
}

.express-item-list {
  text-shadow: 0px 0px 14px #ff9d57;
  color: #ff9d57;
}
.express-item-list img {
  filter: drop-shadow(0px 0px 10px #ff9d57);
  width: 1.5rem;
}

.mysql-item-list {
  text-shadow: 0px 0px 14px #dad600;
  color: #dad600;
}
.mysql-item-list img {
  filter: drop-shadow(0px 0px 10px #dad600);
  width: 1.5rem;
}

.axios-item-list {
  text-shadow: 0px 0px 14px #8000ff;
  color: #8000ff;
}
.axios-item-list img {
  filter: drop-shadow(0px 0px 10px #8000ff);
  width: 1.2rem;
}

.boxicons-item-list {
  text-shadow: 0px 0px 14px #ff00d4;
  color: #00fff2;
}
.boxicons-item-list img {
  filter: drop-shadow(0px 0px 10px #ff00d4);
  width: 1.3rem;
}

.chartjs-item-list {
  text-shadow: 0px 0px 14px #ff4d00;
  color: #ff4d00;
}
.chartjs-item-list img {
  filter: drop-shadow(0px 0px 10px #ff4d00);
  width: 1.5rem;
}

.datafns-item-list {
  text-shadow: 0px 0px 14px #af0086;
  color: #fff;
}
.datafns-item-list img {
  filter: drop-shadow(0px 0px 10px #af0086);
  width: 1.1rem;
}

.formik-item-list {
  text-shadow: 0px 0px 14px #002688;
  color: #0048ff;
}
.formik-item-list img {
  filter: drop-shadow(0px 0px 10px #002688);
  width: 1.3rem;
}

.hostinger-item-list {
  text-shadow: 0px 0px 14px #9900ff;
  color: #b649ff;
}
.hostinger-item-list img {
  filter: drop-shadow(0px 0px 10px #9900ff);
  width: 1.3rem;
}

.i18next-item-list {
  text-shadow: 0px 0px 14px #007a6e;
  color: #00c9b5;
}
.i18next-item-list img {
  filter: drop-shadow(0px 0px 10px #00776b);
  width: 1.3rem;
}

.jest-item-list {
  text-shadow: 0px 0px 14px rgb(121, 0, 73);
  color: pink;
}
.jest-item-list img {
  filter: drop-shadow(0px 0px 10px #92007f);
  width: 1.1rem;
}

.joi-item-list {
  text-shadow: 0px 0px 14px #1f007c;
  color: #0080ff;
}
.joi-item-list img {
  filter: drop-shadow(0px 0px 10px #1100ff);
  width: 1rem;
}

.jwt-item-list {
  text-shadow: 0px 0px 14px #ee00ff;
  color: #ee00ff;
}
.jwt-item-list img {
  filter: drop-shadow(0px 0px 10px #ee00ff);
  width: 1.3rem;
}

.materialui-item-list {
  text-shadow: 0px 0px 14px #0091ff;
  color: #0091ff;
}
.materialui-item-list img {
  filter: drop-shadow(0px 0px 10px #0091ff);
  width: 1.5rem;
}

.primereact-item-list {
  text-shadow: 0px 0px 14px #0091ff;
  color: #0091ff;
}
.primereact-item-list img {
  filter: drop-shadow(0px 0px 10px #0091ff);
  width: 1.3rem;
}

.render-item-list {
  text-shadow: 0px 0px 14px #ffffff;
  color: #fff;
}
.render-item-list img {
  filter: drop-shadow(0px 0px 10px #fff);
  width: 1.3rem;
  border-radius: 5px;
}

.sequelize-item-list {
  text-shadow: 0px 0px 14px #0047b2;
  color: #3f8cff;
}
.sequelize-item-list img {
  filter: drop-shadow(0px 0px 10px #0047b2);
  width: 1.3rem;
}

.vercel-item-list {
  text-shadow: 0px 0px 14px rgba(255, 255, 255, 0.6078431373);
  color: #fff;
}
.vercel-item-list img {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6392156863));
  width: 1.5rem;
  border-radius: 50%;
}

.winston-item-list {
  text-shadow: 0px 0px 14px #7e7e7e;
  color: #fff;
}
.winston-item-list img {
  filter: drop-shadow(0px 0px 10px #7e7e7e);
  width: 1.3rem;
  border-radius: 8px;
}

.postgres-item-list {
  text-shadow: 0px 0px 14px #ff74b6;
  color: #ff74b6;
}
.postgres-item-list img {
  filter: drop-shadow(0px 0px 10px rgba(123, 4, 60, 0.6078431373));
  width: 1.3rem;
}

.git-item-list {
  text-shadow: 0px 0px 14px #ff74b6;
  color: #ff74b6;
}
.git-item-list img {
  filter: drop-shadow(0px 0px 10px #ff74b6);
  width: 1rem;
}

.docker-item-list {
  text-shadow: 0px 0px 14px #2ac5e1;
  color: #2ac5e1;
}
.docker-item-list img {
  filter: drop-shadow(0px 0px 10px #2ac5e1);
  width: 1.5rem;
}

.netlify-item-list {
  text-shadow: 0px 0px 14px #2ac5e1;
  color: #2ac5e1;
}
.netlify-item-list img {
  filter: drop-shadow(0px 0px 10px #2ac5e1);
  width: 1.3rem;
}

.flutter-item-list {
  text-shadow: 0px 0px 14px #9956f6;
  color: #9956f6;
}
.flutter-item-list img {
  filter: drop-shadow(0px 0px 10px #9956f6);
  width: 1.3rem;
}

.node-item-list {
  text-shadow: 0px 0px 14px #93f02f;
  color: #93f02f;
}
.node-item-list img {
  filter: drop-shadow(0px 0px 10px #93f02f);
  width: 1.3rem;
}

.vite-item-list {
  text-shadow: 0px 0px 14px #2f6cf0;
  color: #2f6cf0;
}
.vite-item-list img {
  filter: drop-shadow(0px 0px 10px #2f6cf0);
  width: 1.3rem;
}

.css-item-list {
  text-shadow: 0px 0px 14px #2f6cf0;
  color: #2f6cf0;
}
.css-item-list img {
  filter: drop-shadow(0px 0px 10px #2f6cf0);
  width: 1.2rem;
}

.js-item-list {
  text-shadow: 0px 0px 14px #ffd500;
  color: #ffd500;
}
.js-item-list img {
  filter: drop-shadow(0px 0px 10px #ffd500);
  width: 1.2rem;
}

.ts-item-list {
  text-shadow: 0px 0px 14px #006eff;
  color: #006eff;
}
.ts-item-list img {
  filter: drop-shadow(0px 0px 10px #006eff);
  width: 1.2rem;
}

.nodecache-item-list {
  text-shadow: 0px 0px 14px #f06317;
  color: #f06317;
}
.nodecache-item-list img {
  filter: drop-shadow(0px 0px 10px #f06317);
  width: 1.1rem;
}

.aos-item-list {
  text-shadow: 0px 0px 14px #17a0f0;
  color: #1ce9ff;
}
.aos-item-list img {
  filter: drop-shadow(0px 0px 10px #17a0f0);
  width: 1.1rem;
}

.emailjs-item-list {
  text-shadow: 0px 0px 14px #f06717;
  color: #ff7336;
}
.emailjs-item-list img {
  filter: drop-shadow(0px 0px 10px #f06717);
  width: 1.1rem;
}

@media screen and (min-width: 896px) {
  .itemsMenu-header:hover::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-image: linear-gradient(to left, white, #00ffff, transparent);
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation: beforeMenu 0.5s ease-in-out 0s 1 normal forwards;
  }
  @keyframes beforeMenu {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
@media screen and (max-width: 896px) {
  @keyframes menuOpen {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .minha-img-2 {
    top: -10px;
    left: auto;
  }
  .groupHeader-img {
    align-items: end;
  }
  .groupHeader-img img {
    width: 38rem;
    position: static;
    bottom: -2px;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 32rem 1fr;
    padding-top: 0;
    min-height: auto;
  }
  @keyframes closeMenu {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  .listNav {
    visibility: visible;
    cursor: pointer;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    border-radius: 0 2em 2em 0;
    z-index: 9999;
    transform: translateX(-100%);
  }
  .groupHeader-img {
    grid-row: 2/2;
    min-height: 34rem;
  }
  .open-menu {
    animation: menuOpen 0.5s ease-in-out 0s 1 normal forwards;
  }
  .close-menu {
    animation: closeMenu 0.5s ease-in-out 0s 1 normal forwards;
  }
  .minha-img {
    max-width: 20em;
  }
  .select-menu-humburguer {
    display: flex;
  }
  .listNav > li {
    padding: 0.6em;
    width: 100%;
    text-align: center;
  }
  .listNav > li > a {
    font-size: 23px;
  }
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 0;
  }
  .groupHeader-texts {
    text-align: center;
    align-items: center;
    justify-content: end;
  }
  .groupHeader-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .groupSobre {
    padding: 3em 0 0em 0;
  }
  .sobre {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .groupSobre-primary {
    align-items: center;
  }
  .dividir-titulo-linha {
    justify-content: center;
  }
  .groupSobre-secundary {
    padding: 4em 0 5em 0;
  }
  .groupSobre-primary p {
    width: 80%;
  }
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: 8em 2fr;
  }
  .textSkills {
    display: none;
  }
  .skill-element {
    height: 10em;
    padding: 1em;
  }
  .groupProjetos-primary {
    justify-content: center;
  }
  .groupProjetos-secundary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .groupService-primary {
    justify-content: center;
  }
  .groupService-secundary {
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2em;
    width: 80%;
  }
  .description-card-service {
    width: 25em;
  }
  .contato {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 1fr;
  }
  .contato .groupContact-primary {
    justify-content: center;
  }
  .contato {
    padding: 5em 0 0em 0;
  }
  .groupContact-terciary {
    display: flex;
    flex-direction: column;
    height: 47em;
    justify-content: center;
    align-items: center;
  }
  .circle-2 {
    width: 28em;
    border-radius: 50%;
    height: 28em;
  }
  .groupContact-terciary img {
    width: 22em;
  }
}
@media screen and (max-width: 767px) {
  .groupSkills-secundary {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-bottom: 1em;
  }
  .groupProjetos-secundary {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 2em;
  }
  .card-item {
    margin: auto;
    width: 25em;
  }
}
@media screen and (max-width: 658px) {
  .groupHeader-img img {
    min-width: 26rem;
    width: 100%;
  }
}
@media screen and (max-width: 574px) {
  .groupContact-terciary {
    height: 42em;
  }
  .groupContact-terciary img {
    width: 23em;
  }
  .circle-2 {
    width: 26em;
    height: 26em;
  }
  .groupHeader-img {
    min-height: 29rem;
    bottom: -2px;
  }
}
@media screen and (max-width: 528px) {
  .groupHeader-texts {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 545px) {
  .groupHeader-texts h1 {
    font-size: 3.5em;
    width: 100%;
  }
  .title-secundary-header {
    font-size: 2em;
  }
  .titleSobre {
    font-size: 2em;
  }
  .groupSobre-primary p {
    font-size: 1.15em;
  }
  .titleSkills {
    font-size: 2em;
  }
  .groupSkills-secundary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-bottom: 1em;
  }
  .skill-element img {
    width: 5em;
  }
  .groupProjetos-primary .titleProjetos {
    font-size: 2em;
  }
  .linhas {
    height: 53px;
  }
  .titleService {
    font-size: 2em;
  }
  .title-card-service {
    font-size: 1.2em;
  }
  .card-item {
    row-gap: 13px;
  }
  .linha-secundary {
    height: 80%;
  }
  .card-service {
    width: 100%;
    height: 26em;
  }
  .groupService-secundary {
    width: 100%;
  }
  .description-card-service {
    width: 90%;
  }
  .titleContact {
    font-size: 2em;
  }
}
@media screen and (max-width: 480px) {
  .listNav > li {
    padding: 0.5em;
  }
  .title-secundary-header {
    margin: 0;
  }
  .button-header {
    padding: 1rem 1rem;
    font-size: 0.9rem;
  }
  .groupHeader-socialMedia {
    margin-top: 1rem;
  }
  .groupHeader-texts {
    row-gap: 0;
  }
  .groupHeader-texts h1 {
    font-size: 3em;
  }
  .title-secundary-header {
    font-size: 1.5em;
  }
  .card-item {
    margin: auto;
    height: auto;
    width: 22em;
    row-gap: 7px;
  }
  .groupSobre-primary p {
    font-size: 1em;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .groupContact-terciary {
    height: 33em;
  }
  .circle-2 {
    width: 20em;
    height: 20em;
  }
  .groupContact-terciary img {
    width: 18em;
  }
}
@media screen and (max-width: 434px) {
  .card-item {
    width: 20em;
  }
  .groupHeader-img img {
    min-width: 24rem;
    width: 100%;
    margin-left: -5rem;
  }
}
@media screen and (max-width: 428px) {
  .groupHeader-img img {
    left: -9%;
  }
}
@media screen and (max-width: 408px) {
  .groupHeader-texts h1 {
    font-size: 2.8em;
  }
  .title-secundary-header {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 386px) {
  .card-item {
    width: 17em;
    height: 23em;
  }
}
@media screen and (max-width: 376px) {
  .groupHeader-texts h1 {
    font-size: 2.5em;
  }
  .title-secundary-header {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 340px) {
  .groupHeader-img img {
    min-width: 25rem;
  }
  .groupHeader-img img {
    min-width: 23rem;
  }
  .listNav > li {
    padding: 0.2em;
  }
  .listNav > li > a {
    font-size: 1.2em;
  }
  .groupHeader-texts h1 {
    font-size: 2.3em;
  }
  .title-secundary-header {
    font-size: 1.15em;
  }
  .groupSobre {
    padding-top: 2em;
  }
  .titleSobre {
    font-size: 1.6em;
  }
  .groupSobre-primary p {
    font-size: 1.05em;
  }
  .titleSkills {
    font-size: 1.6em;
  }
  .skill-element img {
    width: 3.2em;
  }
  .groupProjetos-primary .titleProjetos {
    font-size: 1.6em;
  }
  .linhas {
    height: 53px;
  }
  .titleService {
    font-size: 1.6em;
  }
  .card-service {
    height: 28em;
  }
  .card-item {
    width: 17em;
    height: 23em;
  }
  .titleContact {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 334px) {
  .groupContact-terciary {
    height: 27em;
  }
  .circle-2 {
    width: 16em;
    height: 16em;
  }
  .groupContact-terciary img {
    width: 14em;
  }
}
@media (max-width: 320px) and (max-height: 620px) {
  .project-options-box h1 {
    font-size: 1.5em;
  }
  .description-option-project {
    font-size: 0.8em;
  }
  .text-tecnologias-options,
  .text-see-in-options {
    font-size: 0.8em;
  }
  .groupBtn-options-box a {
    font-size: 0.8em;
  }
  .list-options-box-tec li {
    padding: 3px 7px;
    font-size: 0.8em;
  }
}


/*# sourceMappingURL=styles.css.map */
