@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import "mixins.scss";

:root {
  --color-primary: #0f0f0f;
  --color-secundary: #0b0b0b;
  --color-terciary: #00ffff;
  --color-texts: #9ca3af;
  --white: white;

  --font-primary: "Saira", sans-serif;
  --font-secundary: "Monoton", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  transition: all 0.5s ease;
}



::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, transparent, #00ffff65, #00ffff);
  border-radius: 10px;
}


@keyframes shines {
  0% {
    transform: rotate(-4deg) translateX(26);
  }
  100% {
    transform: rotate(-4deg) translateX(-26rem);
  }
}

.shines {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 6rem;
  height: 400%;
  background-color: transparent;
  transform: rotate(-6deg) translateX(26rem);
  @include flex(row, space-between, center, 1rem);

  .primary-shine {
    height: 100%;
    width: 90%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.177),
      rgba(255, 255, 255, 0.282)
    );
    filter: blur(7px);
  }

  .secundary-shine {
    height: 100%;
    width: 20%;
    background-image: linear-gradient(
      to bottom,
        rgba(255, 255, 255, 0.177),
      rgba(255, 255, 255, 0.282)
    );
    filter: blur(7px);
  }
}


.group-project-options-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.86);
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  align-items: center;
  justify-content: center;
  display: flex;
}

.close-options {
  background-color: transparent;
  height: max-content;
  border-radius: 50%;
  border: none;

  i {
    font-size: 2.5rem;
    color: #00ffff;
    cursor: pointer;
  }
}

.list-options-box-tec {
  display: flex;
  list-style: none;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
  flex-wrap: wrap;
  row-gap: 0.5em;
}

@keyframes animatedSkill {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.list-options-box-tec li {
  background-color: #141414;
  @include flex(row, flex-start, center, 5px);
  padding: 2px 1rem 2px 0.5rem;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid lighten(#141414, 5%);
}

.react-item-list {
  text-shadow: 0px 0px 21px #0dd9fd;
  color: #00e5ff;
  img {
    animation: animatedSkill 1s ease 0s infinite normal forwards;
    width: 1.5rem;
    filter: drop-shadow(0px 0px 9px #2ac5e1);
  }
}

.sass-item-list {
  text-shadow: 0px 0px 21px #ff74b6;
  color: #ff74b6;
  img {
    width: 1.7rem;
    filter: drop-shadow(0px 0px 10px #ff74b6);
  }
}
.java-item-list {
  text-shadow: 0px 0px 21px #93f02f;
  color: #93f02f;
  img {
    filter: drop-shadow(0px 0px 10px #93f02f);
    width: 1.2rem;
  }
}
.nest-item-list {
  text-shadow: 0px 0px 14px #9956f6;
  color: #9956f6;
  img {
    filter: drop-shadow(0px 0px 10px #9956f6);
    width: 1.5rem;
  }
}
.next-item-list {
  text-shadow: 0px 0px 14px white;
  color: white;
  img {
    filter: drop-shadow(0px 0px 10px white);
    width: 1.5rem;
  }
}
.express-item-list {
  text-shadow: 0px 0px 14px #ff9d57;
  color: #ff9d57;
  img {
    filter: drop-shadow(0px 0px 10px #ff9d57);
    width: 1.5rem;
  }
}
.mysql-item-list {
  text-shadow: 0px 0px 14px #dad600;
  color: #dad600;
  img {
    filter: drop-shadow(0px 0px 10px #dad600);
    width: 1.5rem;
  }
}
.postgres-item-list {
  text-shadow: 0px 0px 14px #ff74b6;
  color: #ff74b6;
  img {
    filter: drop-shadow(0px 0px 10px #7b043c9b);
    width: 1.3rem;
  }
}
.git-item-list {
  text-shadow: 0px 0px 14px #ff74b6;
  color: #ff74b6;
  img {
    filter: drop-shadow(0px 0px 10px #ff74b6);
    width: 1rem;
  }
}
.docker-item-list {
  text-shadow: 0px 0px 14px #2ac5e1;
  color: #2ac5e1;
  img {
    filter: drop-shadow(0px 0px 10px #2ac5e1);
    width: 1.5rem;
  }
}
.flutter-item-list {
  text-shadow: 0px 0px 14px #9956f6;
  color: #9956f6;
  img {
    filter: drop-shadow(0px 0px 10px #9956f6);
    width: 1.3rem;
  }
}

.node-item-list {
  text-shadow: 0px 0px 14px #93f02f;
  color: #93f02f;
  img {
    filter: drop-shadow(0px 0px 10px #93f02f);
    width: 1.3rem;
  }
}
.vite-item-list {
  text-shadow: 0px 0px 14px #2f6cf0;
  color: #2f6cf0;
  img {
    filter: drop-shadow(0px 0px 10px #2f6cf0);
    width: 1.3rem;
  }
}
.css-item-list {
  text-shadow: 0px 0px 14px #2f6cf0;
  color: #2f6cf0;
  img {
    filter: drop-shadow(0px 0px 10px #2f6cf0);
    width: 1.2rem;
  }
}
.js-item-list {
  text-shadow: 0px 0px 14px #ffd500;
  color: #ffd500;
  img {
    filter: drop-shadow(0px 0px 10px #ffd500);
    width: 1.2rem;
  }
}
.ts-item-list {
  text-shadow: 0px 0px 14px #006eff;
  color: #006eff;
  img {
    filter: drop-shadow(0px 0px 10px #006eff);
    width: 1.2rem;
  }
}
.html-item-list {
  text-shadow: 0px 0px 14px #f06317;
  color: #f06317;
  img {
    filter: drop-shadow(0px 0px 10px #f06317);
    width: 1.1rem;
  }
}

.group-texts-options-box {
  display: flex;
  justify-content: space-between;
}

.close-options {
  color: white;
}

.groupBtn-options-box {
  display: flex;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.groupBtn-options-box a {
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  background-color: #2e2e2e;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.groupBtn-options-box a:hover {
  background-color: #595959;
}

.project-options-box {
  width: 95%;
  max-width: 40em;
  background-color: var(--color-secundary);
  font-family: var(--font-primary);
  color: white;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
  animation: optionsSurge 0.5s ease 0s 1 normal forwards;
}

@keyframes optionsSurge {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-options-box h1 {
  font-size: 2em;
  color: #00ffff;
  text-shadow: 0px 0px 5px #00ffff9a;
  font-weight: 500;
}

.project-options-box



.groupHeader {
  min-height: 100vh;
  overflow: hidden;
}

.groupHeader {
  background-color: var(--color-primary);
}

.logoNav {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
}

.letraMonoton {
  font-family: var(--font-secundary);
  color: rgb(0, 255, 242);
}

.groupNav {
  position: fixed;
  width: 100%;
  background-color: #080808ed;
  box-shadow: 0px 0px 8px rgb(49, 49, 49);
  z-index: 9999;
  transition: all 0.5s ease;
}

.nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

.listNav {
  display: flex;
  list-style: none;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  align-items: center;
  position: relative;
}

.icon-theme {
  color: var(--color-terciary);
  border-radius: 50%;
}

.icon-idioma {
  border-radius: 50%;
  cursor: pointer;
}

.icon-theme:hover,
.icon-idioma:hover {
  transform: scale(120%);
  filter: drop-shadow(0px 0px 80px rgba(0, 255, 242, 0.603));
  overflow: hidden;
}

.listNav > li > a {
  text-decoration: none;
  padding: 2px;
  font-size: 1.1em;
  transition: color 0.5s ease;
}

.icon-idioma {
  width: 1.26em;
}

.itemsMenu-header {
  position: relative;
}

.itemsMenu-header--dark:hover {
  color: var(--color-terciary);
}

.select-menu-humburguer {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.linha-menu-humburguer {
  background-color: var(--white);
  height: 100%;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}



.header {
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  max-width: 1024px;
}

.groupHeader-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  row-gap: 1em;
}

.groupHeader-texts h1 {
  font-size: 3.78em;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -3px;
  font-family: var(--font-primary);
  color: var(--white);
  width: 8em;
  transition: all 0.5s ease;
}

.title-secundary-header {
  position: relative;
  font-size: 2em;
  height: 50px;
  font-family: var(--font-primary);
  text-shadow: 0px 0px 15px var(--color-terciary);
  font-weight: 400;
}

.title-secundary-header::before {
  content: "";
  color: rgb(20, 201, 192);
  animation-name: palavrasAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title-secundary-header::after {
  position: absolute;
  content: "";
  height: 65%;
  margin-left: 10px;
  margin-top: 9px;
  border-left: 2px solid rgb(20, 201, 192);
  box-shadow: 0px 0px 10px var(--color-terciary);
  opacity: 1;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
}

@keyframes palavrasAnimation {
  0% {
    content: "";
  }
  5% {
    content: "F";
  }
  10% {
    content: "Fu";
  }
  15% {
    content: "Ful";
  }
  20% {
    content: "Full";
  }
  25% {
    content: "Full-";
  }
  30% {
    content: "Full-S";
  }
  35% {
    content: "Full-St";
  }
  40% {
    content: "Full-Sta";
  }
  45% {
    content: "Full-Stac";
  }
  50% {
    content: "Full-Stack";
  }
  55% {
    content: "Full-Stack ";
  }
  60% {
    content: "Full-Stack D";
  }
  65% {
    content: "Full-Stack De";
  }
  70% {
    content: "Full-Stack Dev";
  }
  75% {
    content: "Full-Stack Deve";
  }
  80% {
    content: "Full-Stack Devel";
  }
  85% {
    content: "Full-Stack Develo";
  }
  90% {
    content: "Full-Stack Develop";
  }
  95% {
    content: "Full-Stack Develope";
  }
  100% {
    content: "Full-Stack Developer";
  }
}

.text2Header {
  font-size: 1em;
  font-family: var(--font-primary);
}

.btnHeader {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ccc;
  width: 11em;
}

.groupHeader-socialMedia {
  width: 10em;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.groupHeader-socialMediaButton {
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  background-color: #1d1d1d;
  color: var(--white);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition: all 0.5s ease;

  i {
    font-size: 1.9em;
    pointer-events: none;
    margin-top: 4px;
    transition: all 0.5s ease;
  }
}

.groupHeader-socialMediaButton:hover {
  color: var(--color-terciary);
  transform: scale(120%);
  box-shadow: 0px 0px 10px var(--color-terciary);
}

.groupHeader-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupHeader-img img {
  width: 75%;
  filter: drop-shadow(0px 0px 80px rgba(0, 255, 242, 0.603));
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

@keyframes flutuacaoImagem {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}



.groupSobre {
  background-color: var(--color-secundary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sobre {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 34em;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.groupSobre-primary {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
}

.titleSobre {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.logoNav {
  font-weight: 500;
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
}

.groupSobre-primary p {
  color: var(--color-texts);
  font-size: 1.28em;
  line-height: 30px;
  width: 100%;
  font-weight: 200;
  transition: all 0.5s ease;
}

.groupSobre-secundary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.minha-img {
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
  width: 70%;
  filter: drop-shadow(0px 0px 80px rgba(0, 119, 113, 0.603));
  animation: chicaracRotate 30s ease 0s infinite normal;
}

@keyframes chicaracRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-color: rgb(73, 199, 172);
  filter: blur(40px);
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

.dividir-titulo-linha {
  display: flex;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.strong-light {
  color: #3b3b3b;
}

.strong-dark {
  color: #d4d4d4;
}



.groupSkills {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 4em;
  overflow: hidden;
  background-color: var(--color-primary);
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 27em;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.groupSkills-primary {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.titleSkills {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.groupSkills-secundary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.3em;
  -moz-column-gap: 1.3em;
  column-gap: 1.3em;
}

.skill-element {
  background-color: #141414;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.5s ease-in-out !important;
  overflow: hidden;
}

.skill-element-border-light {
  border: 1px solid #e4e4e4;
}

.skill-element-border-dark {
  border: 1px solid #242323;
}

.skill-element:hover {
  img {
    transform: scale(120%);
    transition: all 1s ease;
  }

  &:nth-child(1) {
    border: 1px solid #93f02f;
  }
  &:nth-child(2) {
    border: 1px solid #f29057;
  }
  &:nth-child(3) {
    border: 1px solid #9956f6;
  }
  &:nth-child(4) {
    border: 1px solid #2ac5e1;
  }
  &:nth-child(5) {
    border: 1px solid #ffffff;
  }
  &:nth-child(6) {
    border: 1px solid #ff74b6;
  }
  &:nth-child(7) {
    border: 1px solid #9956f6;
  }
  &:nth-child(8) {
    border: 1px solid #93f02f;
  }
  &:nth-child(9) {
    border: 1px solid #ff80bd;
  }
  &:nth-child(10) {
    border: 1px solid #f5c022;
  }
  &:nth-child(11) {
    border: 1px solid #ff74b6;
  }
  &:nth-child(12) {
    border: 1px solid #2ac5e1;
  }
}

.skill-element img {
  width: 40%;
}

.react img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px rgb(0, 255, 242));
}
.express img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #f5c022);
}
.mysql img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #ffd500);
}

.sass img {
  width: 65%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.docker img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #2ac5e1);
}

.postgresql img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.nextjs img {
  filter: drop-shadow(0px 0px 25px #fff);
  width: 63%;
}
.nestjs img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.java img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.git img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.nodejs img {
  width: 55%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.flutter img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.textSkills {
  color: var(--color-texts);
  font-size: 1.28em;
  line-height: 30px;
  width: 100%;
  font-weight: 200;
  transition: all 0.5s ease;
}

strong {
  font-weight: 500;
  transition: all 0.5s ease;
}



.groupProjetos {
  background-color: var(--color-secundary);
  min-height: 100vh;
  padding: 2em 0 2em 0;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9em 1fr;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
}

.groupProjetos-primary {
  display: flex;
  align-items: center;
}

.groupProjetos-primary .titleProjetos {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.select-texts {
  display: flex;
}

.select-linhas-projeto-title {
  display: flex;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.linhas {
  width: 4px;
  background-image: linear-gradient(
    to top,
    transparent 20%,
    var(--color-terciary)
  );
  height: 65px;
  transition: all 0.5s ease;
}

.groupProjetos-secundary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 1.5em;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1d1d1d;
  padding: 1em;
  text-align: center;
  border: 1px solid #2e2e2e;
  row-gap: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.group-image-project {
  border-radius: 5px;
  overflow: hidden;
  height: 14em;
  height: 200px;
}

.image-project {
  width: 90%;
}

.title-project {
  color: var(--white);
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.description-project {
  color: #5b5b5b;
  font-size: 1.1em;
  font-weight: 400;
  transition: all 0.5s ease;
}

.btn-project {
  background-color: #1d1d1d;
  border: 2px solid #2e2e2e;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 25px;
  font-weight: 600;
  gap: 0.5em;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

.btn-project:hover {
  background-color: #2e2e2e;
  font-weight: 800;
}

.shines-animed {
  animation: 1.3s shines ease-out 0s 1 normal forwards;
}

.group-image-project {
  overflow: hidden;
  height: 200px;
  width: 100%;
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center center; 
  transition: all 0.5s ease;

  img {
    transition: all 0.5s ease;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
  }

}
.groupProjetos-secundary :nth-child(2) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(3) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(4) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(5) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(6) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(7) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(8) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}

.groupProjetos-secundary :nth-child(9) .group-image-project {
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/NovoPortifolio/cardapio.png");
}



.groupService {
  background-color: var(--color-primary);
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
}

.service {
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
}

.groupService-primary {
  display: flex;
  align-items: center;
  gap: 2px;
}

.groupService-secundary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2em;
  column-gap: 2em;
  padding: 2.5em 0;
}

.card-service {
  text-align: center;
  height: 26em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 5px;
  border: 1px solid #1e1d1d;
  padding: 2em;
  transition: border 1s ease;
  transition: all 0.5s ease;

  &:hover {
    border: 1px solid white;
  }

  .circle-externo-servico {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle-externo-servico-code {
    background-image: linear-gradient(
      to bottom right,
      #93f02f,
      darken(#93f02f, 40%),
      #93f02f
    );
  }

  .circle-externo-servico-api {
    background-image: linear-gradient(
      to bottom right,
      #ff9d57,
      darken(#ff9d57, 40%),
      #ff9d57
    );
  }

  .circle-externo-servico-phone {
    background-image: linear-gradient(
      to bottom right,
      #9956f6,
      darken(#9956f6, 40%),
      #9956f6
    );
  }
}

.card-service-code:hover {
  border: 1px solid #93f02f;
}
.card-service-phone:hover {
  border: 1px solid #9956f6;
}
.card-service-api:hover {
  border: 1px solid #ff9d57;
}

.circle-interno-servico {
  width: 10em;
  height: 10em;
  background-color: #0f0f0f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.service-card-border-light {
  border: 1px solid #e2e2e2;
}
.service-card-border-dark {
  border: 1px solid #1a1a1a;
}

.service_code {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.service_phone {
  width: 40%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.service_api {
  width: 65%;
  filter: drop-shadow(0px 0px 25px #ff9d57bd);
}

.titleService {
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  color: var(--white);
  transition: all 0.5s ease;
}

.title-card-service {
  color: var(--white);
  font-size: 1.3em;
  font-weight: 500;
  transition: all 0.5s ease;
}

.description-card-service {
  color: var(--color-texts);
  font-size: 0.9em;
  transition: all 0.5s ease;
}



.groupContact {
  background-color: var(--color-secundary);
  min-height: 100vh;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 1fr;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 5em 0;
}

.contato .groupContact-primary {
  grid-column: 1 / -1;
  display: flex;
  gap: 2px;
}

.groupContact-secundary {
  padding-top: 3em;
}

.titleContact {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.group-input {
  width: 100%;
  position: relative;
}

.error-message {
  color: rgb(255, 75, 75);
  position: absolute;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.form input {
  border: 1px solid var(--color-terciary);
  padding: 0.7em 5px;
  background-color: #161616;
  border-radius: 5px;
  font-family: var(--font-primary);
  transition: padding-left 0.2s ease 0s;
  color: var(--white);
  transition: all 0.5s ease;
  width: 100%;
}

.form input:focus {
  padding-left: 1em;
  outline: none;
  box-shadow: 0px 0px 8px var(--color-terciary);
}

textarea {
  height: 10em;
  width: 100%;
  border: 1px solid var(--color-terciary);
  padding: 0.7em 5px;
  background-color: #161616;
  border-radius: 5px;
  font-family: var(--font-primary);
  color: var(--white);
  outline: none;
  transition: all 0.5s ease;
}

textarea:focus {
  box-shadow: 0px 0px 8px var(--color-terciary);
}

.groupContact-terciary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-2 {
  position: absolute;
  width: 15em;
  height: 25em;
  background-color: rgba(73, 199, 172, 0.764);
  filter: blur(40px);
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

.groupContact-terciary img {
  width: 65%;
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 20%,
    81% 81%,
    100% 100%,
    20% 100%,
    0% 80%,
    18% 23%
  );
  filter: drop-shadow(0px 0px 200px rgba(0, 255, 242, 0.603));
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
  z-index: 0;
}



.footer {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgb(49, 49, 49);
}

@import "media.scss";
