.list-options-box-tec li {
  background-color: #141414;
  @include flex(row, flex-start, center, 5px);
  padding: 2px 1rem 2px 0.5rem;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid lighten(#141414, 5%);
  text-wrap: nowrap;
}

.react-item-list {
  text-shadow: 0px 0px 21px #0dd9fd;
  color: #00e5ff;
  img {
    animation: animatedSkill 1s ease 0s infinite normal forwards;
    width: 1.5rem;
    filter: drop-shadow(0px 0px 9px #2ac5e1);
  }
}

.sass-item-list {
  text-shadow: 0px 0px 21px #ff74b6;
  color: #ff74b6;
  img {
    width: 1.7rem;
    filter: drop-shadow(0px 0px 10px #ff74b6);
  }
}
.java-item-list {
  text-shadow: 0px 0px 21px #93f02f;
  color: #93f02f;
  img {
    filter: drop-shadow(0px 0px 10px #93f02f);
    width: 1.2rem;
  }
}
.nest-item-list {
  text-shadow: 0px 0px 14px #9956f6;
  color: #9956f6;
  img {
    filter: drop-shadow(0px 0px 10px #9956f6);
    width: 1.5rem;
  }
}
.next-item-list {
  text-shadow: 0px 0px 14px white;
  color: white;
  img {
    filter: drop-shadow(0px 0px 10px white);
    width: 1.5rem;
  }
}
.express-item-list {
  text-shadow: 0px 0px 14px #ff9d57;
  color: #ff9d57;
  img {
    filter: drop-shadow(0px 0px 10px #ff9d57);
    width: 1.5rem;
  }
}
.mysql-item-list {
  text-shadow: 0px 0px 14px #dad600;
  color: #dad600;
  img {
    filter: drop-shadow(0px 0px 10px #dad600);
    width: 1.5rem;
  }
}
.axios-item-list {
  text-shadow: 0px 0px 14px #8000ff;
  color: #8000ff;
  img {
    filter: drop-shadow(0px 0px 10px #8000ff);
    width: 1.2rem;
  }
}
.boxicons-item-list {
  text-shadow: 0px 0px 14px #ff00d4;
  color: #00fff2;
  img {
    filter: drop-shadow(0px 0px 10px #ff00d4);
    width: 1.3rem;
  }
}
.chartjs-item-list {
  text-shadow: 0px 0px 14px #ff4d00;
  color: #ff4d00;
  img {
    filter: drop-shadow(0px 0px 10px #ff4d00);
    width: 1.5rem;
  }
}
.datafns-item-list {
  text-shadow: 0px 0px 14px #af0086;
  color: #fff;
  img {
    filter: drop-shadow(0px 0px 10px #af0086);
    width: 1.1rem;
  }
}
.formik-item-list {
  text-shadow: 0px 0px 14px #002688;
  color: #0048ff;
  img {
    filter: drop-shadow(0px 0px 10px #002688);
    width: 1.3rem;
  }
}
.hostinger-item-list {
  text-shadow: 0px 0px 14px #9900ff;
  color: #b649ff;
  img {
    filter: drop-shadow(0px 0px 10px #9900ff);
    width: 1.3rem;
  }
}
.i18next-item-list {
  text-shadow: 0px 0px 14px #007a6e;
  color: #00c9b5;
  img {
    filter: drop-shadow(0px 0px 10px #00776b);
    width: 1.3rem;
  }
}
.jest-item-list {
  text-shadow: 0px 0px 14px rgb(121, 0, 73);
  color: pink;
  img {
    filter: drop-shadow(0px 0px 10px #92007f);
    width: 1.1rem;
  }
}
.joi-item-list {
  text-shadow: 0px 0px 14px #1f007c;
  color: #0080ff;
  img {
    filter: drop-shadow(0px 0px 10px #1100ff);
    width: 1rem;
  }
}
.jwt-item-list {
  text-shadow: 0px 0px 14px #ee00ff;
  color: #ee00ff;
  img {
    filter: drop-shadow(0px 0px 10px #ee00ff);
    width: 1.3rem;
  }
}
.materialui-item-list {
  text-shadow: 0px 0px 14px #0091ff;
  color: #0091ff;
  img {
    filter: drop-shadow(0px 0px 10px #0091ff);
    width: 1.5rem;
  }
}
.primereact-item-list {
  text-shadow: 0px 0px 14px #0091ff;
  color: #0091ff;
  img {
    filter: drop-shadow(0px 0px 10px #0091ff);
    width: 1.3rem;
  }
}
.render-item-list {
  text-shadow: 0px 0px 14px #ffffff;
  color: #fff;
  img {
    filter: drop-shadow(0px 0px 10px #fff);
    width: 1.3rem;
    border-radius: 5px;
  }
}
.sequelize-item-list {
  text-shadow: 0px 0px 14px #0047b2;
  color: #3f8cff;
  img {
    filter: drop-shadow(0px 0px 10px #0047b2);
    width: 1.3rem;
  }
}
.vercel-item-list {
  text-shadow: 0px 0px 14px #ffffff9b;
  color: #fff;
  img {
    filter: drop-shadow(0px 0px 10px #ffffffa3);
    width: 1.5rem;
    border-radius: 50%;
  }
}
.winston-item-list {
  text-shadow: 0px 0px 14px #7e7e7e;
  color: #fff;
  img {
    filter: drop-shadow(0px 0px 10px #7e7e7e);
    width: 1.3rem;
    border-radius: 8px;
  }
}
.postgres-item-list {
  text-shadow: 0px 0px 14px #ff74b6;
  color: #ff74b6;
  img {
    filter: drop-shadow(0px 0px 10px #7b043c9b);
    width: 1.3rem;
  }
}
.git-item-list {
  text-shadow: 0px 0px 14px #ff74b6;
  color: #ff74b6;
  img {
    filter: drop-shadow(0px 0px 10px #ff74b6);
    width: 1rem;
  }
}
.docker-item-list {
  text-shadow: 0px 0px 14px #2ac5e1;
  color: #2ac5e1;
  img {
    filter: drop-shadow(0px 0px 10px #2ac5e1);
    width: 1.5rem;
  }
}
.netlify-item-list {
  text-shadow: 0px 0px 14px #2ac5e1;
  color: #2ac5e1;
  img {
    filter: drop-shadow(0px 0px 10px #2ac5e1);
    width: 1.3rem;
  }
}
.flutter-item-list {
  text-shadow: 0px 0px 14px #9956f6;
  color: #9956f6;
  img {
    filter: drop-shadow(0px 0px 10px #9956f6);
    width: 1.3rem;
  }
}

.node-item-list {
  text-shadow: 0px 0px 14px #93f02f;
  color: #93f02f;
  img {
    filter: drop-shadow(0px 0px 10px #93f02f);
    width: 1.3rem;
  }
}
.vite-item-list {
  text-shadow: 0px 0px 14px #2f6cf0;
  color: #2f6cf0;
  img {
    filter: drop-shadow(0px 0px 10px #2f6cf0);
    width: 1.3rem;
  }
}
.css-item-list {
  text-shadow: 0px 0px 14px #2f6cf0;
  color: #2f6cf0;
  img {
    filter: drop-shadow(0px 0px 10px #2f6cf0);
    width: 1.2rem;
  }
}
.js-item-list {
  text-shadow: 0px 0px 14px #ffd500;
  color: #ffd500;
  img {
    filter: drop-shadow(0px 0px 10px #ffd500);
    width: 1.2rem;
  }
}
.ts-item-list {
  text-shadow: 0px 0px 14px #006eff;
  color: #006eff;
  img {
    filter: drop-shadow(0px 0px 10px #006eff);
    width: 1.2rem;
  }
}
.nodecache-item-list {
  text-shadow: 0px 0px 14px #f06317;
  color: #f06317;
  img {
    filter: drop-shadow(0px 0px 10px #f06317);
    width: 1.1rem;
  }
}
.aos-item-list {
  text-shadow: 0px 0px 14px #17a0f0;
  color: #1ce9ff;
  img {
    filter: drop-shadow(0px 0px 10px #17a0f0);
    width: 1.1rem;
  }
}
.emailjs-item-list {
  text-shadow: 0px 0px 14px #f06717;
  color: #ff7336;
  img {
    filter: drop-shadow(0px 0px 10px #f06717);
    width: 1.1rem;
  }
}
