.skill-element-border-light {
  border: 1px solid #e4e4e4;
}

.skill-element-border-dark {
  border: 1px solid #242323;
}

.skill-element:hover {
  img {
    transform: scale(120%);
    transition: all 1s ease;
  }

  &:nth-child(1) {
    border: 1px solid #93f02f;
  }
  &:nth-child(2) {
    border: 1px solid #f29057;
  }
  &:nth-child(3) {
    border: 1px solid #9956f6;
  }
  &:nth-child(4) {
    border: 1px solid #2ac5e1;
  }
  &:nth-child(5) {
    border: 1px solid #ffffff;
  }
  &:nth-child(6) {
    border: 1px solid #ff74b6;
  }
  &:nth-child(7) {
    border: 1px solid #9956f6;
  }
  &:nth-child(8) {
    border: 1px solid #93f02f;
  }
  &:nth-child(9) {
    border: 1px solid #ff80bd;
  }
  &:nth-child(10) {
    border: 1px solid #f5c022;
  }
  &:nth-child(11) {
    border: 1px solid #ff74b6;
  }
  &:nth-child(12) {
    border: 1px solid #2ac5e1;
  }
}

.skill-element img {
  width: 40%;
}

.react img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px rgb(0, 255, 242));
}
.express img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #f5c022);
}
.mysql img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #ffd500);
}

.sass img {
  width: 65%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.docker img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #2ac5e1);
}

.postgresql img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.nextjs img {
  filter: drop-shadow(0px 0px 25px #fff);
  width: 63%;
}
.nestjs img {
  width: 60%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}

.java img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.git img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #ff74b6);
}

.nodejs img {
  width: 55%;
  filter: drop-shadow(0px 0px 25px #93f02f);
}

.flutter img {
  width: 50%;
  filter: drop-shadow(0px 0px 25px #9956f6);
}